# Chapter 1 - Data Science Projects with Python

---
This is the first chapter of the book data science project and it seems to be following the traditional method of using a notebook for doing everything which is frustrating.

In [21]:
# basic imports
import os 
import sys
import pandas as pd

### Data Explorations steps to follow:
***
> 1. What is the shape of the data
  >> - number of rows and columns
> 2. Are there any missing values
> 3. Are there any duplicates per row
> 4. What are the column type - is this what is expected
---

In [23]:
df = pd.read_excel('../data/raw/default_of_credit_card_clients__courseware_version_1_21_19.xls')

1. `Rows` and `columns` view

In [32]:
print(f'Rows = {df.shape[0]:,.0f} \ncols = {df.shape[1]}, \nfullshape = {df.shape} ')

Rows = 30,000
cols = 25,
fullshape = (30000, 25)

2. **Missing** data

In [39]:
df.isnull().any()

ID                            False
LIMIT_BAL                     False
SEX                           False
EDUCATION                     False
MARRIAGE                      False
AGE                           False
PAY_1                         False
PAY_2                         False
PAY_3                         False
PAY_4                         False
PAY_5                         False
PAY_6                         False
BILL_AMT1                     False
BILL_AMT2                     False
BILL_AMT3                     False
BILL_AMT4                     False
BILL_AMT5                     False
BILL_AMT6                     False
PAY_AMT1                      False
PAY_AMT2                      False
PAY_AMT3                      False
PAY_AMT4                      False
PAY_AMT5                      False
PAY_AMT6                      False
default payment next month    False
dtype: bool

3. checking **_duplicates_**

In [42]:
df.duplicated().sum()

0

> 4. Checking Datatype